body {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}

html2canvas {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}

.row {
  border: 2px solid lightgray;
  min-height: 10vh;
  height: auto;
}

.servants {
  padding-top: 0px;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  display: inline-block;
  height: 10vh;
  width: 10vh;
  color: black;
  background-position: center;
  text-transform: capitalize;
}

.servants:hover {
  cursor: grab;
}

.servants div {
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  min-height: 10vh;
  height: 100%;
}

.left {
  width: 8%;
  background-color: #e59d22;
  text-align: center;
  line-height: calc(90vh*.1);
}

.right {
  width: 92%;
}

.full {
  text-align: center;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}

html, body, #fullheight {
	min-height: 100vh !important;
	height: 100%;
	width: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html2canvas .row .left {
  background-color: #F39C12;
}

html2canvas .row:nth-of-type(1) .left {
  background-color: #E74C3C;
}

html2canvas .row:nth-of-type(2) .left {
  background-color: #8E44AD;
}

html2canvas .row:nth-of-type(3) .left {
  background-color: #3498DB;
}

html2canvas .row:nth-of-type(4) .left {
  background-color: #1ABC9C;
}

html2canvas .row:nth-of-type(5) .left {
  background-color: #16A085;
}

html2canvas .row:nth-of-type(6) .left {
  background-color: #27AE60;
}

html2canvas .row:nth-of-type(7) .left {
  background-color: #2ECC71;
}

html2canvas .row:nth-of-type(8) .left {
  background-color: #F1C40F;
}








/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.download {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}